
*{
  margin: 0px;
  padding: 0px;
}


.navBar{
  background-color: rgb(0, 0, 0);
    width: 80;
    height: 4em;
    display: flex;
    padding: 1em;
    justify-content: space-between;
    gap: 2rem;
} 

.navBar ul{
    margin-right: 60%;
    margin-top: 5px;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}
.navBar ul li{
    color: white;
    margin-left: 100px;
}

.buttons{
    clear: both;
    width: 20px;
    position: absolute;
    margin-left: 90%;

}

.button-3 {
  appearance: none;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  color: white;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: black;
  background-color: #9e1a1a;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #9e1a1a;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}








